* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
    height: 800px;
    background: antiquewhite;
}

.FormTitle{
    text-align: center;
    margin: 8px 0;
}

.MyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MyFormInput{
    width: 70%;
    margin: 8px 0;

}